<ion-header>
  <ion-toolbar>
      <ion-buttons (click)="home()" slot="start" class="back-icon">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>
      <ion-title>follow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-icon name="checkmark" ></ion-icon>
            <ion-label>
                <div color="primary">ผู้รับได้รับพัสดุแล้ว</div>
                <div>ผู้รับ:วงศกร มะโนเรือน</div>
            </ion-label>
            <!-- <ion-label>ผู้รับ:วงศกร มะโนเรือน</ion-label> -->
        </ion-item>
        <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <div color="primary">พัสดุรอนำส่งง</div>
                <div>พิษณุโลก-ม.นเรศวร</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <div style="color:--primary;">พัสดุถึง TS2T สาขาปลายทาง</div>
                <div>พิษณุโลก-ม.นเรศวร</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <div color="primary">พัสดุถึงจุดคัดแยกสินค้า</div>
                <div>กทม.-TS2T</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <div color="primary">TS2T เข้ารับพัสดุ</div>
                <div>กทม.-TS2T</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <div color="primary">ผู้ส่งมาส่งพัสดุ ณ จุดส่ง TS2T</div>
                <div>กทม.-TS2T</div>
            </ion-label>
        </ion-item>
    </ion-list>

    </ion-content>
