<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary" (click)="homeEmployee()">Hoem</ion-button>
    </ion-buttons>
    <ion-title>listOrder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- newid {{id}} -->
  <ion-item>
      <ion-icon name="contact"></ion-icon>
      <ion-label>
          <div color="primary">ผู้ส่ง: ร้านกางเกงยีน 102/1 กทม. 10010</div>
          <div>โทร 098645XXX</div>
          <div color="primary">ผู้รับ: นายวงศกร มะโนเรือน โทร 0881234XXX</div>
          <div>1311 หอพักชายเอสทีคอร์ท 43/3 ม.5 ต.ท่าโพธิ์ </div>
          <div>อ.เมือง จ.พิษณุโลก 65000 โทร 086432XXX</div>
      </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="contact"></ion-icon>
    <ion-label>
        <div color="primary">ผู้ส่ง: ร้านเสื้อกีฬา 132/1 กทม. 12010</div>
        <div>โทร 09365XXX</div>
        <div color="primary">ผู้รับ: นายนรินทร์ จินาพันธ์ โทร 0934534XXX</div>
        <div>3151 หอพักซากุระ 13/3 ม.5 ต.ท่าโพธิ์ </div>
        <div>อ.เมือง จ.พิษณุโลก 65000 โทร 0996458XXX</div>
    </ion-label>
  </ion-item>
</ion-content>
