<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary" (click)="logout()">Log out</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="image-cen">
          <img src="assets/TS2T.png" alt="">
      <ion-button (click)="addOrder()" expand="block">Add Order</ion-button>
      <ion-button (click)="updateOrder()"expand="block">Update Order</ion-button>
      <ion-button (click)="listOrder()"expand="block">List Order</ion-button>
    </div>
</ion-content>
