<ion-header>
  <ion-toolbar>
    <div class="button">
      <ion-buttons >
          <ion-button color="primary" (click)="format()">รูปแบบการส่ง</ion-button>
          <ion-button color="primary" (click)="table()">อัตราค่าจัดส่ง</ion-button>
          <ion-button color="primary" (click)="reg()">สำหรับพนักงาน</ion-button>
        </ion-buttons>
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <img src="assets/TS2T.png" alt=""> -->
  <div class="image-cen">
      <img src="assets/TS2T.png" alt="">
    
    <!-- <ion-item>
        <ion-label position="fixed">เลขพัสดุ</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-button color="primary">ติดตาม</ion-button> -->
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="clickedSearch()"></ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="ID Order"></ion-searchbar>
    </ion-toolbar>
    <ion-button color="primary" (click)="follow()">follow</ion-button>
  </div>  
  
</ion-content>
 